* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root
{
    --blue: #2628dd;
    --font-color: #7d838a;
    --footer-background: #f5f8fc;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.HauptContainer {
    width: 1000px;
    height: 2650px;
}

.HauptContainer .Header {
    width: 1000px;
    height: 40px;
    background-color: var(--blue);
    color: #ffffff;
    padding-left: 60px;
    padding-top: 5px;
    font-size: 20px;
}

.navigation {
    width: 1000px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
}

.navigation img {
    width: 150px;
    margin: 20px 0 5px 40px;
}

.border1 {
    width: 90px;
    height: 40px;
    border: 1.5px solid var(--blue);
    margin: 40px 20px;
    padding: 10px 0;
    border-radius: 3px;
}

a {
    margin: 50px 20px;
    text-decoration: none;
}

.border2 {
    width: 185px;
    height: 30px;
    border: 1.5px solid var(--blue);
    margin: 40px 100px;
    padding: 4px 0;
    border-radius: 3px;
}

.mitteFoto {
    height: 400px;
}

.mitteFoto img {
    width: 1000px;
    height: 100%;
}

.boxs {
    width: 1000px;
    display: flex;
    padding: 20px 40px;
}

.box {
    width: 33.33%;
    height: auto;
    margin: 30px 50px;
    text-align: center;
}

.background {
    width: 130px;
    height: 130px;
    background-color: var(--blue);
    border-radius: 65px;
    display: inline-block;
}

.background img {
    margin: 28px 32px;
}

.background p {
    margin: 10px 20px;
    font-weight: 900;
}
.boxs .box span
{
    color: var(--font-color);
}

.Ueberuns
{
    width: 100%;
    height: 350px;
    padding-top: 35px;
    background-color:#f5f8fc;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    color: #f5f8fc;
}

.Ueberuns h2, .Ueberuns a
{
   color:black;
}
.Ueberuns p
{
    color: var(--font-color);
}
.Ueberuns a
{
    font-weight: 400;
}
.Ueberuns .unten
{
    width: 100%;
    height: 150px;
    background-color: var(--blue);
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#untensatz
{
    color: white;
}
.horizontal hr
{
    margin: 60px 0 80px 0;
    color: #0000ffd3;
    border: 1.5px solid #0000ffd3;
}



.Wohnungs {
    width: 1000px;
    height: auto;
    display: flex;
}

.wohnung {
    width: 100%;
    background-color: #eafdf6;
    margin-left: 7px;
    margin-right: 20px;
    flex-grow: 1;
}

.titel {
    margin: 10px 0 0 10px;
}

span {
    font-size: 16px;
}

.wohnung img {
    width: 310px;
    height: 250px;
}

#rechts {
    margin-left: 210px;
    display: block;
    margin-top: 10px;
}

#place {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}
footer
{
    margin-top: 150px;
    width: 1000px;
    height: 370px;
    background-color: var(--footer-background);
    padding: 40px 40px 40px 80px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}
.obenBox
{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.card
{
    width: 33.32%;
    height: 250px;
    margin-right: 10px;
    padding: 0 10px;
}
.card img
{
    width: 150px; 
    height: 73px;
}
.card p, .card li, .card a
{
    color: var(--font-color);
}
.card h3
{
    font-weight: 700;
}
#mittig
{
    margin: 17px 0 0 20px;
}
.untenHorizontal
{
    width: 100%;
}
.untenHorizontal hr
{
    color: var(--font-color);
}
.copyright
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}